@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
      body{
        background-color: rgb(82, 238, 225);
      }
      #container{
        width: 800px;
        margin: 0 auto; /* 화면 가운데 배치 */
        padding: 20px;
        border: 2px solid rgb(255, 145, 0);
      }
      header{
        background-color: azure;
      }
      .accent{
        color: #00f;
      }
      #menu{
        font-family: "Gaegu", sans-serif;
      }
      nav li{
        background-color: rgb(248, 248, 113);
        margin-bottom: 5px;
        display: inline-block;
        padding: 10px;
        margin: 30px 20px;
        width: 100px;
        height: 9px;
        text-align: 25px;
        border-radius: 20px;
      }
      nav a{
        text-decoration: none;
        color: #fff;
      }
      main{
        background-color: rgb(87, 231, 21);
        padding: 10px; /* 안여백 지정*/
      }
      main .float{
        background-color: teal;
        /* height: 10px; */
        padding: 10px;
        text-align: center;
        /* 자신의 크기가 있을 때 넘친 자식은 보여주지 않음 */
        /* 자식이 float으로 넘쳤을 때 영역 인정, 단 크기가 정해지지 않았을때 */
        overflow: hidden; 
      }
      main ul li{
        float: left;
        list-style: none;
        padding: 5px 40px;
        /* margin: 5px 40px; */
        border: 1px solid #ccc;
      }
      main li:hover{ /* 롤오버 효과*/
        background-color: #000;
        color: #fff;
        border-radius: 20px;
      }
      main ol{
        background-color: cyan;
        overflow: hidden;
      }
      .right{
        float: right;
      }
      main ol li{
        float: left;
        list-style: none;
        border: 2px solid purple;
        padding: 10px;
      }
      /* main ol li:hover{
        background-color: white;
        border-radius: 11px;
      } */
      /* main .float .right{
        float: right;
      } */
      main ol{
        /* list-style-position: inside; */
        text-align: center;
      }
      figure img{
        display: block;
      }
      table{
        border: 2px solid red;
        border-collapse: collapse;
        width: 90%;
      }
      th, td{
        border: 1px solid red;
        padding: 5px;
      }
      thead, tfoot{
        background-color: pink;
      }
      tbody, tfoot{
        background-color: white;
        text-align: center;/* 글자 가운데 정렬*/
      }
      #hylink{
        border: 2px solid magenta;
        padding: 10px;
        text-align: center;
      }
      #hylink h3{
        text-align: left;
      }
      #hylink a{
        margin: 30px 40px;
        display: inline-block;
      }
      aside{
        background-color: greenyellow;
      }
      footer{
        font-family: "Gaegu", sans-serif;
        background-color: blue;
        color: white;
      }
      #top{
        width: 50px;
        height: 50px;
        background-color: #f00;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        position: fixed;
        right: 20px;
        bottom: 30px;
      }
      #top a{
        text-decoration: none;
        color: #fff;
      }
