#container{
  width: 1000px;
  margin: 0 auto;
}
/* 헤더 영역 */
header{
  background-color: rgb(148, 109, 211);
  overflow: hidden;
}
header img{
  width: 80px;
  height: 80px;
  float: left;
  margin: 10px;
}
nav{
  float: right;
  width: 500px;
  padding: 10px;
}
nav li{
  float: left;
  list-style: none;
  padding: 10px;
}
nav li:hover a{ /* 자주 사용 */ /* 마우스 커서를 올렸을 때*/
  background-color: beige;
  border-radius: 20px;
  color: black;
}
nav li a:active{  /* 클릭 */
  background-color: red;
}
nav li a:focus{
  background-color: yellow;
  border-radius: 20px;
  outline: 0px solid #ccc;
}
nav a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

/* 메인 영역 */
main{
  width: 800px;
  float: left;
}
section h1{
  background: url(../IMG/봄.jpg) no-repeat left center;
  background-size: 36px 36px;
  padding-left: 50px;
}
section h1::after{
  content: "긴급!!";
  font-size: 14px;
  background-color: red;
  color: #fff;
  position: relative;
  top: -10px;
  margin-left: 10px;
}
::selection{
  background-color: black;
  color: yellow;
}
article p{
  text-align: justify;
}
article p::first-line{
  color: red;
}
article p::first-letter{
  font-size: 20px;
  background-color: yellow;
}
article{
  width: 368px;
  height: 220px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  float: left;
}
/* 어사이드 영역 */
aside{
  width: 180px;
  float: right;
  margin-top: 96px;
}
aside img{
  width: 180px;
  height: 161px;
}
/* 푸터 영역 */
footer{
  background-color: rgb(32, 66, 38);
  clear: both;
  padding: 10px;
  text-align: center;
  color: #fff;
}
footer p{
  margin-top: 0
}