#container{
  width: 500px;
  margin: 0 auto;
}
img{
  width: 100%;
}
#check{
  text-align: center;
  border: 1px solid #000;
}
#check h1{
  text-align: left;
  background-color: black;
  color: #fff;
  font-size: 16px;
  padding: 5px;
  margin: 0;
}
#check h2{
  color: #f00;
  font-size: 1.5em;
  text-align: center;
}
p{
  font-size: 1.2em;
  line-height: 2em;
  font-weight: bold;
  
}
.accent{
  color: #0000ff;
}
.smalltext{
  font-size: 0.7em;
}