#container{
  width: 600px;
  margin: 0 auto;
}
.redhy{
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.redhy img{
  width: 250px;
  height: 250px;
}
.sal{
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px 0;

}
.pac{
  border: 1px solid #ccc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.f_left{
  float: left;
  margin-right: 20px;
}
.f_right{
  float: right;
  margin-left: 20px;
}
ol li{
  line-height: 2;
}
table{
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}
th{
  background-color: rgb(219, 219, 88);
}