    table{
      border: 1px solid, purple;
    }
    th{
      border: 1px solid, purple;
      background-color: pink;
    }
    td{
      border: 1px solid, purple;
      text-align: center;
    }
