#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  background-color: teal;
  overflow: hidden;
}
nav{
  float: right;
  width: 450px;
  padding: 10px;
}
nav li{
  float: left;
  list-style: none;
  padding: 0 10px;
}
nav li:nth-child(even){
  background-color: #f00;
}
nav li:nth-child(odd){
  background-color: blue;
}
nav li:first-child{
  box-shadow: 2px 2px 2px #fff;
}
nav li:last-child{
  box-shadow: 3px 3px 5px #fff;
}
nav a{
  color: #fff;
  font-weight: bold;
}
a{
  text-decoration: none;
}
main{
  border: 2px solid blue;
  padding: 10px;
}
#menu{
  text-align: center;
}
#menu li{
  display: inline-block;
  padding: 10px;
}
main img{
  width: 150px;
  height: 150px;
}
#act:target,
#onsoon:target,
#sanap:target{
  background-color: aqua;
}
article{
  border: 2px dotted pink;
  padding: 10px;
  border-radius: 20px;
}
figure{
  text-align: center;
}
section{
  background-color: pink;
  padding: 10px;
}
#what li{
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: yellow;
}
#what:has(a:hover)a:not(:hover){
  opacity: auto;
}
footer{
  background-color: rgb(32, 66, 38);
  clear: both;
  padding: 10px;
  text-align: center;
  color: #fff;
}
footer p{
  margin-top: 0
}
#top{
  width: 50px;
  height: 50px;
  background-color: #f00;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  position: fixed;
  right: 20px;
  bottom: 30px;
}
#top a{
  text-decoration: none;
  color: #fff;
}
