#contain{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc;
  overflow: hidden;
}
h1{
  color: grey;
}
.trvel-card{
  width: 250px;
  height: 340px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 30px;
}