*{
  box-sizing: border-box;
  font-family: "맑은 고딕";
}
#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  text-align: center;
}
nav{
  background-color: black;
  overflow: hidden;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav li{
  float: left;
  list-style: none;
}
nav li:last-child{
  float: right;
}
nav a{
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}
nav a:hover{
  background-color: yellow;
  color: black;
}
aside{
  width: 200px;
  height: 500px;
  text-align: center;
  background-color: #ccc;
}