*{
  box-sizing: border-box;
  font-family: "맑은 고딕";
}
#container{
  width: 1000px;
  margin: 0 auto;
}
header{
  text-align: center;
}
nav{
  background-color: black;
  overflow: hidden;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav li{
  float: left;
  list-style: none;
}
nav li:last-child{ /* li의 마지막 */
  float: right;
}
nav a{
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}
nav a:hover{
  background-color: yellow;
  color: black;
}
aside{
  float: left;
  width: 200px;
  height: 500px;
  text-align: center;
  background-color: #ccc;
}
section{
  text-align: center;
  width: 600px;
  height: 500px;
  padding: 10px;
  float: left;
}
form{
  width: 500px;
  background-color: #ddd;
  text-align: center;
  margin: 0 auto;
}
form fieldset{
  border-style: hidden;
}
form legend{
  font-weight: bolder;
  padding-top: 15px;
}
form ul{
  padding: 0;
}
form li{
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  list-style: none;
}
label{
  width: 130px;
  float: left;
}
input{
  width: 250px;
  padding: 3px;
}
button{
  width: 150px;
  border-style: none;
  border-radius: 30px;
  background-color: #fef;
  padding: 15px;
}
footer{
  background-color: gray;
  clear: both;
  padding: 10px;
  text-align: center;
}